@import url('https://fonts.googleapis.com/css2?family=Popins:wght@300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.image-container {
    overflow-x: scroll; 
    white-space: nowrap;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
    z-index: 10;
    position : relative;
}

.image-container img {
    display: inline-block;
    margin-right: 7%;
    box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.1);
    transition: margin-left 1s ease;
}

.footer_carrousel {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    gap: 0px;
    margin-top: 40px;
    flex-direction: row; 
}

.arrow_container{
    display: flex;
    gap: 20px; 
    align-self: center;
    position: absolute;
    left : 50%;
}

.arrow{
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #ebebeb;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
}

.arrow:hover{
    box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.arrow:active{
    box-shadow: inset 0em 0.5em 0.5em rgba(0, 0, 0, 0.1);
}

.button_container {
    display: flex;
    font-size: 18px;
    align-items: center; 
    align-self: center;
    margin-left: 10%;
}

.button {
    color: #375BA7;
    position: relative;
}

.button img {
    width: 9px;
    height: 16px;
    opacity: 0;
    position: absolute;
    left: 100%; 
    top: 50%; 
    transition: opacity 0.5s ease; 
}

.button:hover img {
    opacity: 1;
}

.button:hover {
    cursor: pointer;
}

.text_container{
    margin-left : 10%;
    height: 320px;
    width : 30%;
    overflow: hidden;
    position : absolute;
    top : 0px;
}

.text-wrap{
    transition-property: margin-top;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
}

.text_part {
    color: #333;
    text-align: justify;
    margin-bottom: 0px;
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
    gap: 20px;
    transition: opacity 1s ease;
}

.text_part h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 0; 
    text-align: start;
}

.text_part p {
    font-size: 16px;
    font-weight: 300;
    margin: 0; 
}

.button_container {
    display: flex;
    font-size: 18px;
    align-items: center; 
    align-self: center;
    margin-left: 10%;
}

.button {
    color: #375BA7;
    position: relative;
    white-space: nowrap; /* Empêche le retour à la ligne */
}

.button img {
    width: 9px;
    height: 16px;
    opacity: 0;
    position: absolute;
    left: 140%; 
    top: 50%; 
    transform: translateY(-50%); 
    transition: opacity 0.5s ease; 
}

.button:hover img {
    opacity: 1;
}

.button:hover {
    cursor: pointer;
}