body {
    margin: 0;
    padding: 0;
}

.image-container {
    overflow-x: scroll; 
    white-space: nowrap;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
    z-index: 10;
    position : relative;
}

.image-container img {
    display: inline-block;
    margin-right: 7%;
    box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.1);
    transition: margin-left 1s ease;
}

.arrow_container{
    display: flex;
    margin-left: 50%;
    margin-top: 40px;
    gap: 20px; 
    
}

.arrow{
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #ebebeb;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
}

.arrow:hover{
    box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.arrow:active{
    box-shadow: inset 0em 0.5em 0.5em rgba(0, 0, 0, 0.1);
}

.text_container{
    margin-left : 10%;
    height: 320px;
    width : 30%;
    overflow: hidden;
    position : absolute;
    top : 0px;
}

.text-wrap{
    transition-property: margin-top;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
}

.text_part {
    color: #333;
    text-align: justify;
    margin-bottom: 0px;
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap: 20px;
}

.text_part h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 0; 
}

.text_part p {
    font-size: 20px;
    font-weight: 300;
    margin: 0; 
}
